// Colors 
$bg: #0b0c11;
$primary-color: #fff;
$secondary-color: #949494;
$jogos-footer: #bb1344;
$editires-footer: #7fcb69;
$categorias-footer: #f9e876;
$sobre-footer: #43cbfd;
$semana-footer: #633fbb;
$font-footer: #716e85;


